<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head ('Board')">
</head>

<body>

  <div th:replace="fragments/common :: menu ('boardList')"></div>

  <main class="container">
    <h1>Board</h1>
    <div class="row">総件数：<span th:text="${boards.TotalElements}"></span></div>

    <form class="row row-cols-lg-auto g-3 align-items-center d-flex justify-content-end" method="GET"
      th:action="@{/board/list}">
      <div class="col-12">
        <label class="visually-hidden" for="search-text"></label>
        <div class="input-group">
          <input type="text" class="form-control" id="search-text" name="searchText" th:value="${param.searchText}">
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-light">検索</button>
      </div>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Title</th>
          <th scope="col">Contributor</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="board : ${boards}">
          <td th:text="${board.id}"></td>
          <td><a th:href="@{/board/form(id=${board.id})}" th:text="${board.title}">Otto</a></td>
          <td>テストユーザー</td>
        </tr>
      </tbody>
    </table>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${1 == boards.pageable.pageNumber + 1} ? 'disabled'">
          <a class="page-link"
            th:href="@{/board/list(page=${boards.pageable.pageNumber - 1}, searchText=${param.searchText})}">Previous</a>
        </li>
        <li class="page-item" th:classappend="${i == boards.pageable.pageNumber + 1} ? 'disabled'"
          th:each="i : ${#numbers.sequence(startPage, endPage)}">
          <a class="page-link" th:href="@{/board/list(page=${i - 1}, searchText=${param.searchText})}"
            th:text="${i}">1</a>
        </li>
        <li class="page-item" th:classappend="${boards.totalPages == boards.pageable.pageNumber + 1} ? 'disabled'">
          <a class="page-link"
            th:href="@{/board/list(page=${boards.pageable.pageNumber + 1}, searchText=${param.searchText})}">Next</a>
        </li>
      </ul>
    </nav>

    <div class="text-end">
      <a type="button" class="btn btn-primary" th:href="@{/board/form}">投稿</a>
    </div>
  </main>


  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
</body>

</html>